<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://${APP_CINEMA_DB_HOST}:${APP_CINEMA_DB_PORT}/${APP_CINEMA_DB_NAME}?serverTimezone=UTC</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">${APP_CINEMA_DB_USER}</property>
        <property name="hibernate.connection.password">${APP_CINEMA_DB_PASSWORD}</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <mapping class="io.lenur.library.domain.Author"/>
    </session-factory>
</hibernate-configuration>